body{
  background-image: url("../public/orange-white.svg");
  background-size: cover;
  padding-left: 5px;
  padding-right: 5px;
  background-repeat: no-repeat;
}

.all-movies-list{
  display: flex;
  justify-content: flex-end;
}